body{
    background-image: url(https://wallpaperaccess.com/full/5728425.jpg);
}
 
fieldset{
    border-style: none;
 
}
 
h2{
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
   
}
 
.form1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 0%;
   
}
 
#lenom, #leprenom, #ddn, #password{
    width: 600px;
    height: 20px;
    border-radius: 10px;
   
}
 
h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15%;
    margin-right:354px;
    font-size:x-large;
}
 
label{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;  
}
 
#subButton{
    margin-top: 20px;
    width: 150px;
    border-radius: 20px;
}
 
.date{
    margin-right: 475px;
}
 
.nom{
    margin-right: 555px;
 
}
 
.prenom{
    margin-right: 540px;
}
 
.mdp{
    margin-right: 505px;
}

#mdpErreur{
    color: red;
}